{% extends "base.html" %}

{% block title %}
Home | Expense Tracker
{% endblock %}

{% block content %}
{% with messages = get_flashed_messages(with_categories=true) %} {% if
messages %}
<div class="space-y-3 mb-4">
  {% for category, message in messages %}

  <div
    class="px-4 py-3 rounded-lg text-sm font-medium {% if category == 'success' %} bg-emerald-500/20 text-emerald-300 border border-emerald-500 {% elif category == 'danger' %} bg-red-500/20 text-red-300 border border-red-500 {% elif category == 'warning' %} bg-yellow-500/20 text-yellow-300 border border-yellow-500 {% else %} bg-blue-500/20 text-blue-300 border border-blue-500 {% endif %}"
  >
    {{ message }}
  </div>

  {% endfor %}
</div>
{% endif %} {% endwith %}

<section class="text-center py-20">

       <div class="p-10">
    <h1 class="text-5xl font-bold text-gray-900">

        Track Every Rupee.

    </h1>

    <p class="mt-6 text-lg text-gray-600 max-w-2xl mx-auto">

        Manage your daily expenses, monitor savings, and build better financial habits with a simple and beautiful expense tracker.

    </p>

    <div class="mt-8">

        <a href="/add-expense"
           class="bg-emerald-600 text-white px-8 py-3 rounded-xl hover:bg-emerald-700 transition">

            Get Started

        </a>

    </div>

</section>

{% endblock %}
